sudo: false
cache:
  directories:
    - $HOME/.cache/pip

language: python

matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27
    - python: "2.7"
      env: TOXENV=py27-nooptionals
    - python: "3.4"
      env: TOXENV=py34
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.5"
      env: TOXENV=py35-nooptionals
    - python: "pypy"
      env: TOXENV=pypy

install:
  - pip install tox

script:
  - tox

notifications:
  email: false
